.InputInChat {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9edef;
    padding: 10px 21px 10px 98px;
    input {
        width: 100%;
        padding: 9px 12px;
        border: none;
        border-radius: 8px;
        outline: none;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
        font-size: 15px;
        line-height: 22.05px;
        margin-right: 13px;
    }
    button {
        cursor: pointer;
        border: none;
        background: #fff0;
    }
}
